.job-posting {
    margin: 20px;
    padding: 10px;
}

.job-posting h2 {
    text-align: center;
    margin-bottom: 20px;
}

.job-posting-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job-posting-item {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.job-posting-item h3 {
    color: #333;
    margin-bottom: 10px;
}

.job-posting-item p {
    margin: 5px 0;
    color: #555;
}
