.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%, 80px);
}

.navbar .profile{
    width: 40px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    transition: color 0.2s ease;
  }
  
  .navbar a:hover {
    color: #666;
  }
  
  .navbar a:active {
    color: #999;
  }